*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: #129799;
    font-family: 'Roboto', sans-serif;
    color: #F7F7F7;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav ul li:hover, a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.menucima, .menumeio, .menubaixo{
    display: flex;
    justify-content: center;
}

.menucima li{
    padding: 2em;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo img{
    max-width: 100%;
}

.menumeio li{
    padding: 1em;
}

.conteudo{
    background-color: #FFA185;
}

.text{
    padding: 2em 0;
}

.text p{
    color: #000;
}

.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}

.image-wrapper{
    height: 250px;
    flex: 1 1 500px;
    margin: 5px;
}

.image-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    margin: 1em;
}

.vejamais{
    display: flex;
    justify-content: center;
}

footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.icons img{
    max-width: 20px;
}

.menubaixo li{
    margin: 1em;
}